/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    height: 80px;
}
main{
    width: 100vw;
    height: calc(100vh - 140px);
    background-color: black;
    border: 2px solid red;

}

.flex{
    display: flex;
}

.container{
    width: 90vw;
    border: 2px solid green;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    margin: 0 auto;


}

.img{
    width: 250px;
    height: 150px;
    background-image: url(https://picsum.photos/400/300);
    border: 2px solid purple;
}

p{
    align-self: flex-end;
    color: white;
    background-color: lightgrey;
    padding: 3px;
    border-radius: 5px;
}

.nav-bar{
    width: 100%;
    height: 60px;
    border: 2px solid white;
    background-color: black;
    text-align: center;
}

.audio-video{
    width: 25%;
    height:100%;
    border: 2px solid blue;
}

.central-nav{
    width: 50%;
    height: 100%;
    border: 2px solid blueviolet;
}

.metting-nav{
    width: 25%;
    height: 100%;
    border: 2px solid yellow;
}

.fas{
    color: white;
}

h3{
    color: white;
    align-self: flex-end;
}

.fa-microphone-slash{
    margin-right: .4rem;
}

.audio-video-icons{
    
    border: 2px solid red;
    
}

h6{
    color: white;
    font-size: 1rem;
}


section.nav-bar i{
    font-size: 1.2rem;

}